<div class="p-5 mb-4 bg-img">
  <div class="container-fluid py-4">
    <h1 class="display-5">Bonjour, Bienvenue sur votre application</h1>
  </div>
</div>

<div class="container">
    
    <div class="row align-items-center">
    
    <div class="col-4">
<div class="card" style="width: 18rem; height: 24rem;">
    <img src="../../../assets/detailProduit.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Detail Produit</h5>
      <p class="card-text">Afficher les détails d'un produit en particulier :<br> - Prix <br> - Quantité <br> ...</p>
      <a routerLink="/details-produit" class="btn btn-primary"> Vers les produits</a>
    </div>
  </div>
</div>

<div class="col-4">
<div class="card" style="width: 18rem; height: 24rem;">
    <img src="../../../assets/stockage-removebg-preview.png" width="30" height="150" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Produit stockage</h5>
      <p class="card-text">Gerer votre stock sur plusieurs aspects : <br> 
        - Le nombre de produit <br>
        - Changer les promotions</p>
      <a routerLink="/gestion-produits" class="btn btn-primary">Gerer le stock</a>
    </div>
</div>
</div>

<div class="col-4">
    <div class="card" style="width: 18rem; height: 24rem;">
        <img src="../../../assets/stonks.jpg" width="30" height="150" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Evolution Business</h5>
          <p class="card-text">Affichage de l'evolution de la boutique  : <br> 
            - Chiffre d'affaire <br>
            - Produit le plus vendu</p>
          <a routerLink="/dashboard" class="btn btn-primary">Voir l'analyse</a>
        </div>
    </div>
    </div>
    </div>
</div>